<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713906662767-fvjbvb6g0j8u3ak8u6b4c9oifj57niu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713906662767-fvjbvb6g0j8u3ak8u6b4c9oifj57niu3</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ04WpoTHsoqLU6-hIU-dflnl2PcmnNKg</string>
	<key>GCM_SENDER_ID</key>
	<string>713906662767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uas</string>
	<key>PROJECT_ID</key>
	<string>flutteruasapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteruasapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713906662767:ios:f87d14fe256409374c8c9a</string>
	<key>DATABASE_URL</key>
	<string>https://flutteruasapp.firebaseio.com</string>
</dict>
</plist>